body {
    margin: 0;
    padding: 0;
    background-color: #0E2033;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #2C3E50;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5%;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #ECF0F1;
}

input::placeholder {
    font-size: 10px; 
    color: rgba(247, 141, 167, 0.5);
}

.form-group {
    margin-bottom: 15px; 
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; 
    border: 1px solid #BDC3C7;
    border-radius: 8%; 
    background-color: #ECF0F1;
    box-sizing: border-box;
    font-weight: 400;
}

.input-icon {
    position: absolute;
    right: 15px; 
    top: 15px;
    font-size: 16px; 
    color: rgba(247, 141, 167, 0.5); 
}

.form-group label {
    color: #ECF0F1;
    font-size: 12px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ECF0F1;
    margin-top: 5px;
    border-radius: 15px;
}

#register-btn {
    background-color: #C7FFD8; 
    color: #2C3E50; 
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 0;
    font-weight: bolder;
}

.options {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #ECF0F1;
    margin-top: 10px;
}
.options a {
    color: #ECF0F1;
    text-decoration: none;
}

.error-bubble {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
    z-index: 100; /* Ensure it's above other elements */
    width: auto; /* Adjust width as needed */
}
