<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Images</title>
    <link rel="stylesheet" href="css/Addpic.css">
</head>
<body>
    <div class="container">
        <div class="form-header">
            <button class="back-button" onclick="window.history.back();">&larr;</button>
            <h1>Add Images</h1>
        </div>
        
            <div class="form-group">
                <label for="images" class="image-label">Images</label>
                <div class="image-upload" onclick="document.getElementById('image-input').click();">
                    <input type="file" id="image-input" name="Files" accept="image/*" multiple style="display: none;" onchange="previewImages(event)">
                    <div class="image-preview"></div>
                    <button type="button" class="add-image-button">Add Image <span>+</span></button>
                </div>
            </div>

            <div class="form-buttons">
                <button type="submit" class="preview-button">Done</button>
                <a href="Auctionpreview.html" style="text-decoration: none;">
                    <button type="button" class="post-button">Preview</button>
                </a>
            </div>
        </form>
    </div>


</body>
</html>
