<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/AdminLogin.css">
    <title>Admin Login</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="#" method="post">
            <div class="input-group">
                <label for="username">Admin Username</label>
                <input type="text" id="username" name="username"placeholder="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="The Protected Password" placeholder="The Protected Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
       
    </div>
</body>
</html>
