<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing</title>
    <link rel="stylesheet" href="css/Auctionpic.css">
</head>
<body>
    <div class="container">
        <div class="form-header">
            <button class="back-button">&larr;</button>
            <h1>Editing</h1>
        </div>
        <div class="form-group">
            <label for="images">Images</label>
            <div class="image-upload">
                <div class="image-preview"></div>
                <button class="add-image-button">Add Image <span>+</span></button>
            </div>
        </div>
        <div class="image-gallery">
            <div class="image-thumbnail"><img  ></div>
            <div class="image-thumbnail"></div>
            <div class="image-thumbnail"></div>
        </div>
        <div class="form-buttons">
            <button type="button" class="preview-button">Cancel</button>
            <button type="submit" class="post-button">Preview</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
