<footer>
    <div class="footer-content">
        <div class="footer-details">
            <div class="footer-top">
                <img src="Resources/logo.png" alt="PrimeBid" class="footer-logo">
                <h1>Prime Bid</h1>
            </div>
            <p class="footer-description">Discover rare collectibles, antiques, and more in our exclusive auctions. Start bidding and find something special today!</p>
            <div class="footer-social-links">
                <a href="https://web.facebook.com/?_rdc=1&_rdr">
                <img src="Resources/facebook.svg" alt="facebook" class="social-icon-link">
                </a>
                <a href="https://twitter.com/?lang-en">
                <img src="Resources/twitter.svg" alt="twitter" class="social-icon-link">
                </a>
                <a href="https://www.instagram.com/?hl=en">
                <img src="Resources/instagram.svg" alt="instagram" class="social-icon-link">
                </a>
                <a href="https://www.linkedin.com/">
                <img src="Resources/linkedin.svg" alt="linkedin" class="social-icon-link">
                </a>
                <a href="https://www.youtube.com/">
                <img src="Resources/youtube.svg" alt="youtube" class="social-icon-link">
                </a>
            </div>
        </div>
        <div class="footer-spacer"></div>
        <div class="footer-page-links">
            <h4 class="footer-heading">My Bids</h4>
            <a href="Profile.html" class="footer-link">My Profile</a>
            <a href="bidhistory.html" class="footer-link">Bid History</a>
            <a href="watchlist.html" class="footer-link">WatchList</a>
        </div>
        <div class="footer-contact-links">
            <h4 class="footer-heading">Contact Us</h4>
            <a href="https://web.whatsapp.com/" class="footer-link footer-contact-link">
                <img src="Resources/whatsapp.svg" alt="" class="footer-contact-icon">
                <span>+94 77 696 9696</span>
            </a>
            <a href="https://mail.google.com/" class="footer-link footer-contact-link">
                <img src="Resources/mail.svg" alt="" class="footer-contact-icon">
                <span>mail.primebid@gmail.com</span>
            </a>
        </div>
    </div>
    <hr class="seperator"/>
    <div class="footer-extra">
        <span class="footer-extra-text">© 2024 PrimeBid Auctions, Inc </span>

        <div class="footer-extra-links">
            <a href="AboutUs.jsp" class="footer-extra-link">Privacy Policy</a>
            <a href="AboutUs.jsp" class="footer-extra-link">Terms of Use</a>
        </div>
    </div>
</footer>
